* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 74px;
    background-color: #0C3C60;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

header section {
    display: flex;
    height: 100%;
    width: 90%;
    color: white;
    text-decoration: none;
    align-items: center;
}

.headerleft {
    height: 100%;
    display: flex;
    align-items: center;
    width: 25%;
    font-size: 20px;
}

.headerleft p {
    color: white;
    cursor: pointer;
}

.headerright {
    height: 100%;
    display: flex;
    justify-content: end;
    gap: 15px;
    width: 75%;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header a {
    color: white;
    text-decoration: none;
}

.headerright a {
    transition: 1s;
}

.headerright a:hover,
.headerright a:focus {
    color: #19a0c9;
}

.headerright button {
    height: 40px;
    width: 120px;
    background-color: #0C3C60;
    display: flex;
    border: none;
    gap: 10px;
    padding-inline-start: 10px;
}

.headdivleft {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
}

.headdivright {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    position: relative;
}

.headdivleft .fa-circle-user {
    font-size: 30px;
    color: white;
}

#demovission:checked~.demopeak {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.demopeak {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.demodone {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    z-index: 1002;
    font-weight: 400;
}

.demopeak h2 {
    font-size: 48px;
    width: 260px;
    height: 60px;
    font-weight: 300;
    text-align: center;
    color: black;
}

.demopeak p {
    width: 310px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
    color: black;
}

.ayodemo {
    width: 190px;
    height: 48px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hiddenofthemall {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.demov {
    border: none;
    cursor: pointer;
}

.hiddenofthemall:hover {
    color: rgb(181, 189, 189);
}

.headdivleft:hover~.headdivright {
    color: rgb(181, 189, 189);
}

.headdivleft:hover {
    cursor: pointer;
}

.imgdiv {
    position: relative;
    width: 100%;
    height: 704px;
}

.imgdiv img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.insideimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
    background-color: white;
    width: 835px;
    height: 250px;
    z-index: 10;
    bottom: 0;
    left: 50%;
    background-color: white;
    animation-name: insideimg;
    animation-duration: 1s;
    transform: translate(-50%, 0)
}

@keyframes insideimg {
    0% {
        bottom: -150px;
        opacity: 0;
    }

    50% {
        opacity: 0.3px;

    }

    100% {
        opacity: 1px;
    }
}

.insideimg1 {
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.insideimg2 {
    font-size: 60px;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.insideimg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 228px;
    height: 53px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-out;
}

.insideimg a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.insideimg3:hover {
    background-color: #0C3C60;
    color: white;
    border: none;
}

.moreinfo1 button {
    font-weight: 500;
}

.moreinfo {
    width: 100%;
    min-height: 633px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.moreinfo1 {
    color: #072136;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    animation: threeanimore 1s ease-in-out;
    gap: 50px;
    padding-inline: 40px;
    width: 396.141px;
    height: 545px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.morethaninfo1{
    animation-delay: 0.1;
}
.morethaninfo2{
    animation-delay: 0.2s;
}

@keyframes threeanimore {
    0%{
        top: 150px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.A1 {
    font-size: 36px;
}

.A2 {
    font-size: 36px;
}

.A3 {
    font-size: 36px;
}

.moreinfo1 p {
    position: relative;
    font-size: 16px;
    line-height: 1.6em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.moreinfo1 button {
    position: relative;
    width: 179px;
    height: 53px;
    border: 1px solid black;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.moreinfo1 button:hover {
    background-color: #0C3C60;
    color: white;
    border: none;
}

.pagetopage {
    color: #19a0c9 !important;
}

.aboutus {
    width: 100%;
    height: 679px;
    position: relative;
    background-color: #D8E8F2;
    z-index: 11;
}

.aboutus img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inbpic {
    width: 100%;
    height: 100%;
    background-color: #D8E8F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    position: absolute;
    opacity: 0.9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inbpic span {
    font-size: 36px;
    color: #072136;
}

.abbpab{
    font-size: 16px;
    line-height: 1.6em;
    color: #072136;
    width: 645px;
    text-align: center;
}

.inbpic button {
    width: 179px;
    height: 53px;
    background-color: #D8E8F2;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    color: #0c3b5f;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.inbpic button:hover {
    background-color: #0C3C60;
    color: white;
}

.services {
    width: 100%;
    min-height: 780px;
    color: #072136;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    padding-inline: 100px;
}

.lolhide {
    height: 75px;
    width: 100%;
    background-color: white;
    top: 0;
}

.services h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cons {
    width: 100%;
    min-height: 455px;
    display: flex;
    justify-content: center;
    gap: 65px;
}

.freecons {
    width: 361px;
    height: 455px;
}

.freecons img {
    width: 100%;
}

.services button {
    width: 228px;
    height: 53px;
    border: 1px solid black;
    display: block;
    margin: auto;
    font-size: 16px;
    color: #0C3B5F;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: white;
}

.services button:hover {
    background-color: #0C3C60;
    color: white;
}

.services a {
    text-decoration: none;
}

.added {
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.added h2 {
    font-size: 18px;
    font-weight: 500;
}

.clients {
    width: 100%;
    height: 594px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outlogos {
    width: 100%;
    height: 224px;
    position: relative;
}

.clients h1 {
    font-size: 38px;
    font-weight: 400;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logos {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.inlogos {
    width: 200px;
    height: 200px;
}

.inlogos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.test {
    text-align: center;
    padding: 50px 20px;
    width: 100%;
    height: 675px;
    background-color: #F7F7F7;
    position: relative;
}

.test h1 {
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.slides {
    width: 980px;
    height: 387px;
    position: relative;
    left: 50%;
    top: 200px;
    transform: translate(-50%, 0);
    margin-top: 50px;
}

input[type="radio"] {
    display: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    color: #072136;
    padding: 0 20px;
    pointer-events: none;
}

.justoneofu {
    font-size: 20px;
    width: 485px;
    margin: 0 auto;
}

.inslide b {
    font-size: 16px;
    color: #0C3C60;
}

.inslide p {
    font-size: 16px;
    margin-top: 5px;
}

#slide1:checked~.slides .s1,
#slide2:checked~.slides .s2,
#slide3:checked~.slides .s3 {
    opacity: 1;
    position: relative;
    pointer-events: all;
}

.arrow {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    padding: 10px;
    user-select: none;
    transition: 0.3s ease;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow:hover {
    color: #072136;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 75px;
}

.dots label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #072136;
    cursor: pointer;
    transition: 0.3s ease;
}

#slide1:checked~.dots label[for="slide1"],
#slide2:checked~.dots label[for="slide2"],
#slide3:checked~.dots label[for="slide3"] {
    background-color: white;
    border: 2px solid #072136;
    transform: scale(1.4);
    box-sizing: border-box;
}

.inslide {
    margin-top: 20px;
}

footer {
    width: 100%;
    height: 1950px;
    background-color: #0C3C60;
    color: white;
    position: relative;
}

.foothidelol {
    height: 75px;
    width: 100%;
    background-color: #0C3C60;
}

footer h1 {
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    width: 980px;
    height: 1022px;
    position: relative;
    margin: auto;
    padding: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form label {
    height: 33px;
}

form input {
    background-color: #0C3C60;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 8px 2px 8px 12px;
    font-size: 16px;
}

form input:focus {
    outline: none;
    box-shadow: none;
    background-color: #0C3C60;
}


.fallup {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
}

.fallup label {
    font-size: 18px;
}

.falldown {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
}

.falldown label {
    font-size: 18px;
}

.fallin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 454px;
    height: 100%;
}

#fail {
    background-color: #0C3C60;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 8px 2px 8px 12px;
    font-size: 16px;
    width: 100%;
    height: 92px;
    margin-bottom: 25px;
}

#fail:focus {
    outline: none;
    box-shadow: none;
    background-color: #0C3C60;
}

.lol {
    font-size: 18px;
}

.slct {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.slct label {
    font-size: 18px;
}

.slct select {
    background-color: #0C3C60;
    color: white;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid white;
    cursor: pointer;
    padding: 8px 12px;
    height: 41px;
    width: 99%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.slct select:focus {
    outline: none;
    box-shadow: none;
    background-color: #0C3C60;
}

select option {
    padding: 25px 0;
    cursor: pointer;
}

select option:hover {
    background-color: #1A4769;
}

.alonelol {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 15px 0 20px 0;
}

.times {
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 12;
}

.times button {
    background: #0C3C60;
    height: 43px;
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid white;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 18px;
    color: white;
}

.times button:focus {
    background-color: #255070;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.nightlol {
    display: none;
}

.nightlol:checked+label {
    background: white;
    color: black;
    border: 1px solid black;
}

.times button:hover {
    border: 1px solid rgb(225, 225, 225);
}

.nightlol:checked+label+.times {
    opacity: 1;
    transform: scaleY(1);
}

.day {
    background: #0C3C60;
    color: white;
    font-size: 20px;
    padding: 10px 14px 12px 14px;
    cursor: pointer;
}

.weekdays {
    width: 51px;
    height: 51px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.timesleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 155px;
    width: 460px;
}

.timesright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 155px;
    width: 460px;
}

.tzone1 {
    position: absolute;
    top: 115px;
    left: 0;
    font-size: 18px;
}

.tzone2 {
    position: absolute;
    top: 140px;
    left: 0;
    font-size: 18px;
}

.tzoneall {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 18px;
}

.bbsub {
    position: absolute;
    bottom: 0;
    right: 24px;
    width: 375px;
    height: 45px;
    background-color: white;
    border: 1px solid white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.bbsub:hover {
    color: white;
    background-color: #0C3C60;
}

.frame {
    height: 280px;
    width: 938px;
    margin: auto;
    margin-top: 50px;
}


.flast {
    width: 100%;
    height: 377px;
    background-color: #072136;
    display: flex;
    position: absolute;
    bottom: 0;
}

.flastin1 {
    width: 33%;
    height: 377px;
    background-color: #072136;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tptoimd {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: -50px;
    letter-spacing: 2px;
    width: 300px;
    font-size: 20px !important;
}

.inflast1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    position: absolute;
    right: 41%;
    top: 90px;
}

.inflast1 a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.flastin2 {
    width: 33%;
    height: 377px;
    background-color: #072136;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.flastin2 p {
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 50%;
}

.inflast2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 90px;
    left: 50%;
}

.inflast2 a {
    color: white;
    text-decoration: none;
}

.inflast2 a:hover {
    color: rgb(140, 188, 219);
}

.flastin3 {
    width: 33%;
    height: 377px;
    background-color: #072136;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.idkaloneig {
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 36%;
}

.inflast3 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: absolute;
    top: 90px;
    left: 36%;
}

.flasticons i {
    font-size: 18px;
}

.inflast3 a {
    color: white;
}

.inflast3 p {
    font-size: 14px;
}

.abtmain {
    width: 100%;
    height: 900px;
    background-color: white;
    padding-top: 75px;
}

.abthidden {
    height: 1px;
    width: 100%;
    background-color: white;
    z-index: -1000;
}

.abtmain h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    animation: about 1s;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes about {
    0% {
        top: 100px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.abtline {
    display: flex;
    justify-content: center;
    gap: 1px;
    margin-top: 100px;
}

.abtline img {
    width: 629px;
    height: 634px;
    animation: abtlineimg 1s;
}

@keyframes abtlineimg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.abtp {
    width: 629px;
    height: 634px;
    display: flex;
    align-items: center;
    padding-left: 75px;
}

.abtp p {
    width: 425px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 26px;
    animation: about 1s;
    position: relative;
}

.aboutfun {
    width: 100%;
    min-height: 1975px;
    background-color: white;
    padding-top: 175px;
    position: relative;
    animation: thisabtall 1s ease-in-out;
}

@keyframes thisabtall {
    0%{
        top: 150px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.aboutfun h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.asdfg {
    font-size: 16px;
    line-height: 1.6em;
    text-align: center;
    width: 300px;
    font-weight: 300;
    margin: 10px auto;
}

.aboutallinone {
    width: 100%;
    min-height: 1500px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto 0;
    padding: 0 187.5px;
    justify-content: space-between;
}

.abtcards {
    width: 49%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.abtcards img {
    width: 370px;
    height: 318px;
}

.abtbox {
    width: 370px;
    display: flex;
    flex-direction: column;

}

.abtbox h2 {
    font-size: 26px;
    font-weight: 400;
}

.abtbox h3 {
    font-size: 18px;
    font-weight: 500;
}

.abtbox p {
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    width: 342px;
    margin-top: 30px;
}

.aboutfun button {
    width: 230px;
    height: 55px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
}

.aboutfun button:hover {
    background-color: #0C3C60;
    color: white;
}

.projectsmain {
    width: 100%;
    height: 1634px;
    padding: 75px 0 0;
}

#projectsmain {
    height: 1px;
    width: 100%;
    background-color: white;
}

.projectsmain h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    animation: ppph1 1s;
}

@keyframes ppph1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.projectsinmain {
    width: 100%;
    height: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    gap: 9px;
    justify-content: center;
}

.inprocards {
    width: 38%;
    height: 642px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    animation: procards 1.5s;
    position: relative;
}

.proddd {
    animation: procards 1.5s 0.2s;
}

@keyframes procards {
    0% {
        top: 200px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.probox {
    width: 438px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inprocards img {
    width: 438px;
    height: 268px;
}

.probox h2 {
    font-size: 36px;
    font-weight: 400;
}

.probox p {
    width: 430px;
    line-height: 1.8em;
    font-size: 16px;
}

.plansmain {
    width: 100%;
    height: 980px;
    color: #0C3C60;
    animation: planswholemain 1.5s;
}

@keyframes planswholemain {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.plansh {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
}

.plansp {
    text-align: center;
    height: 50px;
    padding: 15px 0;
}

.plansinmain {
    width: 100%;
    height: 675px;
    gap: 60px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.planscards {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.plansup {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 1px solid #00000033;
    position: relative;
}

.plansup h2 {
    font-size: 20px;
    height: 42px;
    font-weight: 400;
}

.plansup h1 {
    height: 84px;
    font-size: 70px;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: relative;
}

.plansup span {
    font-size: 18px;
    height: 18px;
    width: 10px;
    position: absolute;
    top: 0;
    left: -10px;
}

.plansupP1 {
    font-size: 14px;
    height: 40px;
    margin-top: 14px;
}

.plansupP2 {
    font-size: 12px;
    height: 24px;
    display: flex;
    align-items: end;
}

.plansupup {
    width: 85px;
    height: 30px;
    background-color: #0C3C60;
    color: white;
    font-size: 14px;
    position: absolute;
    top: -15px;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.plansup button {
    width: 294px;
    height: 50px;
    background-color: #0C3C60;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
    cursor: pointer;
}

.plansup button:hover {
    text-decoration: underline;
}

.plansup a {
    text-decoration: none;
}

.plan2s .plansup {
    background-color: #E5E5E5;
}

.plansdown {
    width: 100%;
    height: 50%;
    border-left: 1px solid #00000033;
    border-bottom: 1px solid #00000033;
    border-right: 1px solid #00000033;
    display: grid;
    grid-template-rows: repeat(7, 42px);
    padding: 20px;
}

.plansdown p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}

#plansmain {
    height: 1px;
    width: 100%;
    background-color: white;
}

.plansdown i {
    font-size: 6px;
    border: 1px solid #0C3C60;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plantest {
    display: none;
}

.likeadd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    opacity: 0.6;
    display: none;
}



#plantest:checked~.likeadd {
    display: flex;
}

#plantest:checked~.peak {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peak {
    background: white;
    padding: 80px 32px;
    width: 504px;
    height: 364px;
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.testdone {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    z-index: 1002;
    font-weight: 400;
}

.peak h2 {
    font-size: 32px;
    width: 440px;
    height: 80px;
    margin-bottom: 24px;
    font-weight: 500;
    text-align: center;
}

.peak p {
    width: 440px;
    height: 24px;
    margin-bottom: 36px;
    text-align: center;
}

.ayoplans {
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0.2s;
    transition: 0.3s;
    cursor: pointer;
}

.ayoplans:hover {
    background-color: #4C4C4C;
    text-decoration: underline;
}

.pricingmain {
    background-color: white;
    width: 100%;
    height: 637px;
    padding: 35px 0 105px 0;
}

.pricinginmain {
    padding: 40px;
    width: 1060px;
    height: 496px;
    margin: auto;
}

.pricingtoph2 {
    font-size: 32px;
    color: #868686;
    font-weight: 400;
    height: 81px;
}

.pricingfirsthr {
    margin-bottom: 38px;
    color: #868686;
}

.pricingleft {
    width: 600px;
    height: 295px;
}

.pricingleft h1 {
    display: flex;
    gap: 22px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.pricingleft p {
    height: 48px;
    margin-bottom: 16px;
}

.onlyinrespo{
    display: none;
}

.pricingbut {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.demobuttons1 {
    background-color: black;
    color: white;
    width: 291px;
    height: 48px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demobuttons2 {
    background-color: white;
    color: black;
    width: 291px;
    height: 48px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demobuttons1:hover {
    text-decoration: underline;
}

.demobuttons2:hover {
    text-decoration: underline;
}

.pricelogin {
    background-color: white;
    color: black;
}

.pricingsecondhr {
    margin: 33px 0;
}

.pricingleft h2 {
    display: flex;
    gap: 22px;
    font-size: 24px;
    font-weight: 300;
    height: 32px;
    width: 100%;
    color: #868686;
}

.pricingright {
    width: 340px;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricingbothin {
    width: 980px;
    height: 295px;
    display: flex;
    justify-content: space-between;
}

.pricingright h1 {
    font-size: 24px;
    font-weight: 400;
    height: 28px;
}

.pricingrightdiv {
    height: 52px;
    display: flex;
    flex-direction: column;
}
.anotheronlyrespo{
    display: none;
}

.pricingrightdiv h2 {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    height: 24px;
}

.pricingrightdiv p {
    font-size: 16px;
    height: 24px;
    color: #646464;
}

.pricingright h3 {
    height: 28px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.pricingrighttop {
    width: 340px;
    height: 255px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.pricingrightdown {
    height: 24px;
    width: 340px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pricingrightdown i {
    position: relative;
    top: 4px;
}

.tools {
    width: 100%;
    height: 800px;
}

.toolsh1 {
    height: 86px;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
    animation: toolsend 1s ease-in-out;
}

.toolsp {
    font-size: 15px;
    width: 680px;
    height: 58px;
    text-align: center;
    margin: auto;
    line-height: 1.8em;
    letter-spacing: 0.02em;
    position: relative;
    animation: toolsp 0.75s ease-in;
}

@keyframes toolsp {
    0% {
        top: 50px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.toolsmain {
    width: 980px;
    height: 550px;
    margin: 50px auto;
    animation: toolsend 1s ease-in;
}

@keyframes toolsend {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.firsttools {
    width: 980px;
    height: 60px;
    padding: 20px 20px 0;
    display: flex;
    justify-content: space-between;
}

.secondtools {
    width: 980px;
    height: 52px;
    padding: 12px 20px 0 48px;
    text-align: end;
    font-size: 16px;
    position: relative;
}

.secondtools input {
    width: 486px;
    height: 40px;
    padding: 8px 0 8px 24px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.secondtools i {
    position: relative;
    left: 24px;
}

.alltoolp {
    font-size: 16px;
    border: none;
    background-color: transparent;
    text-align: start;
}

.toolsitems {
    width: 100%;
    height: 56px;
    padding: 20px 20px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolsmain hr {
    width: 940px;
    margin: auto;
}

.toolcheck1 {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.toolp1 {
    width: 415px;
    padding: 0 0 0 60px;
    cursor: pointer;
}

.toolp2 {
    width: 123px;
    cursor: pointer;
}

.toolp3 {
    width: 85px;
    cursor: pointer;
}

.toolp4 {
    width: 85px;
    cursor: pointer;
}

.toolsendin .fa-ellipsis-vertical{
    display: none;
}

.toolp5 {
    width: 123px;
}

.toolp6 {
    width: 24px;
    cursor: pointer;
}

.toolallbut:hover {
    color: #696666;
}

.toolendfnl {
    display: flex;
    align-items: center;
    width: 100%;
    height: 122px;
    padding: 0 20px;
    gap: 10px;
}

.attheend{
    display: flex;
    width: 52%;
    align-items: center;
    justify-content: space-between;
}

.attheend h6{
    display: none;
}

.toolsendin {
    width: 415px;
    height: 47px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.anothertooldiiiv {
    width: 355px;
    height: 47px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pofp1 {
    width: 100%;
    height: 20px;
    font-size: 14px;
}

.pofp2 {
    width: 100%;
    height: 23px;
}

.fa-folder {
    font-size: 35px;
}

#tools {
    height: 1px;
    width: 100%;
    background-color: transparent;
}

.ppendtl1 {
    width: 123px;
    height: 23px;
}

.ppendtl2 {
    width: 85px;
    height: 23px;
}

.ppendtl3 {
    width: 85px;
    height: 26px;
    display: flex;
    gap: 7px;
    align-items: center;
}

.ppendtl4 {
    width: 123px;
    height: 28px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ppendtl5 {
    width: 24px;
    height: 24px;
}

.ppendtl3 .fa-star {
    position: relative;
    top: 3px;
}

.ppendtl4 .fa-circle-user {
    font-size: 25px;
    color: #D8D8D8;
    background-color: #969696;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: -5px solid #D8D8D8;
    box-sizing: content-box;
}

.abdulah{
    background-color: white;
    border: none;
    display: none;
}

.toolsendin .fa-folder {
    position: relative;
    top: 3px;
    font-size: 37px;
}

.toolendfnl:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.hdd {
    justify-content: space-between;
}

.absolutecinema{
    display: none;
}
.lalalalaa{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #0C3C60;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    gap: 50px;
    top: 0;
    left: 0;
}
.clickbar{
    position: absolute;
}
#clickbar:checked~ .absolutecinema{
    display: unset;
    width: 100%;
    height: 100%;
    background-color: #0C3C60;
    position: fixed;
    color: white;
    padding: 25px 50px;
    top: 0;
    left: 0;
    z-index: 100000;
    animation: lastanimation 1s;

}

@keyframes lastanimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#clickbar{
    height: 1px;
    width: 1px;
    display: none;
    position: absolute;
    right: 75px;

}
.absolutecinema p{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}
.absolutecinema .fa-circle-user{
    font-size: 25px;
}
.absolutecinema a{
    color: white;
    text-decoration: none;
}

.closeclickbar{
    position: fixed;
    top: 20px;
    right: 75px;
    z-index: 10000000000;
    font-size: 30px;
}
.clicktoopenbar{
    width: 22px;
    height: 25px;
    cursor: pointer;
    display: none;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 75px;
}




















@media screen and (max-width:1375px) {
    .cons {
        height: 355px;
    }

    .freecons {
        height: 355px;
    }

    .services {
        justify-content: space-between;
        height: 700px;
    }
    .abtline{
        flex-wrap: wrap;
        margin-top: 10px;
        gap: 20px;
    }
    .abtp{
        padding: 0;
        width: 100%;
        height: 400px;
    }
    .abtline img{
        width: 500px;
        height: 500px;
    }
    .abtcards{
        width: 48%;
    }
    .abtp p{
        margin: 0 auto;
    }
    .abtmain{
        height: 1100px;
    }
    .aboutallinone{
        margin: 0;
        min-height: 1300px;
        width: 975px;
        margin: auto;
        padding: 0;
    }
    .aboutfun{
        padding: 50px 0;
        min-height: 1600px;
    }
    .inprocards{
        width: 40%;
    }
    .plansinmain{
        height: 2150px;
        grid-template-columns: 450px;
        grid-template-rows: repeat(3, 675px);
        display: grid;
    }
    .plansmain{
        height: 2350px;
    }
    .plan1s{        
        grid-row: 2;
    }
    .plan2s{        
        grid-row: 1;
    }
    .plan3s{        
        grid-row: 3;
    }
    .plansh{
        font-size: 51px;
    }
    .plansp{
        font-size: 16px;
    }
}

@media screen and (max-width:1100px) {
    .headerright a{
        display: none;
    }
    .headdivleft{
        display: none;
    }
    .headdivright{
        width: 1px;
        height: 1px;
        position: absolute;
        right: 10px;
    }
    .demov{
        display: none;
    }

    .clicktoopenbar{
        display: unset;
    }

    .cons {
        height: 255px;
    }

    .freecons {
        height: 255px;
    }

    .services {
        justify-content: space-between;
        height: 600px;
    }
    .aboutallinone{
        min-height: 2500px;
        flex-direction: column;
        width: 100%;
    }
    .abtcards{
        margin: 0 auto;
    }
    .aboutfun{
        min-height: 2800px;
    }
    .projectsmain{
        height: 2350px;
    }
    .projectsinmain{
        height: 2200px;
        flex-direction: column;
        margin: 0;
        gap: 25px;
    }
    .inprocards{
        margin: 0 auto;
        height: 510px;
    }
    .pricinginmain{
        width: 100%;
        height: 800px;
    }
    .pricingbothin{
        width: 100%;
        flex-direction: column;
        height: 675px;
    }
    .pricingmain{
        height: 900px;
    }
    .pricingleft{
        height: 375px;
        margin: 0 auto;
    }
    .pricingright{
        margin: 0 auto;
    }
    .pricingtoph2{
        width: 600px;
        margin: 0 auto;
    }
    .pricingfirsthr{
        width: 600px;
        margin: 0 auto;
    }
    .pricingleft h1{
        margin: 33px 0 ;
    }
    .onlyinrespo{
        display: flex;
        width: 100%;
        height: 1px;
        margin-top: 33px;
    }
    .anotheronlyrespo{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 280px;
        height: 50px;
        background-color: #C7C7C7;
        color: white;
        font-size: 17px;
    }
    .headerright button{
        position: absolute;
        right: 10px;
        width: 1px;
        height: 1px;
    }
    .headerright{
        position: absolute;
        right: 10px;
        width: 1px;
        height: 1px;
    }
    header{
        justify-content: start;
        padding-inline-start: 10px;
    }
    #clickbar{
        display: unset;
    }
}

@media screen and (max-width:1000px) {
    .moreinfo {
        flex-wrap: wrap;
        min-height: 800px;
    }

    .moreinfo1 {
        gap: 25px;
        height: 400px;
    }

    .cons {
        flex-wrap: wrap;
        min-height: 1100px;
        padding: 0 32px;
    }

    .freecons {
        height: 475px;
    }

    .services {
        min-height: 1400px;
        padding-inline: 0;
    }

    .added h2 {
        font-size: 20px;
    }

    .logos {
        flex-wrap: wrap;
        min-height: 250px;
    }

    .clients {
        height: 450px;
        justify-content: space-between;
    }

    .fallup {
        flex-direction: column;
        width: 454px;
        height: 200px;
        margin: 0 auto;
    }

    .falldown {
        flex-direction: column;
        width: 454px;
        height: 200px;
        margin: 0 auto;
    }

    .iforgotlol {
        width: 454px;
        margin: 0 auto;
    }

    .uforgotahh {
        width: 454px;
        margin: 0 auto;
    }

    .lol {
        width: 454px;
    }

    #fail {
        width: 454px;
    }

    .slct {
        width: 454px;
        margin: auto;
    }

    form {
        height: 1350px;
        width: 100%;
    }

    footer {
        height: 2250px;
    }

    .times {
        flex-direction: column;
        width: 100%;
        left: 0;
    }

    .timesleft{
        width: 100%;
        align-items: center;
    }

    .timesright{
        width: 100%;
        align-items: center;
    }

    .frame {
        margin: 50px auto 0;
        width: 100%;
        padding: 0 25px;
    }

    .slides {
        width: 100%;
    }
    .bbsub{
        left: 50%;
        transform: translate(-50%, 0);
    }
    .toolsmain{
        width: 100%;
        margin: 50px 0 13px;
    }
    .toolsmain hr{
        width: 90%;
        margin: 0 auto;
    }
    .secondtools{
        width: 100%;
    }
    .secondtools input{
        width: 350px;
    }
    .toolsitems{
        display: none;
    }
    .firsttools{
        width: 100%;
        align-items: center;
    }
    .abdulah{
        display: flex ;
        align-items: center;
        flex-direction: row-reverse;
        font-size: 25px;
        gap: 20px;
    }
    .toolendfnl{
        gap: 0;
        justify-content: space-between;
    }
    .abdulah i{
        font-size: 20px;
        position: relative;
        top: 3px;
    }
    .imaginejusthide{
        display: none;
    }
    .anothertooldiiiv{
        width: 150px;
    }
    .toolsendin{
        width: 150px;
    }
    .attheend{
        width: 75%;
    }
}



@media screen and (max-width:850px) {
    .insideimg {
        width: 100%;
    }

    .headerleft {
        width: 300px;
    }

    .headerleft p {
        width: 300px;
    }
    
    .inlogos {
        width: 200px;
        height: 200px;
    }
    .cons{
        min-height: 2100px;
    }
    .services{
        min-height: 2400px;
    }
    .insideimg2{
        font-size: 40px;
    }
    .insideimg1{
        font-size: 20px;
    }
    .flast{
        flex-direction: column;
    }
    .flastin1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 0 5px;
    }
    .inflast1{
        position: static;
    }
    .tptoimd{
        position: static;
    }
    .flastin2{
        display: none;
    }
    .flastin3{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0 0 0 5px;
    }
    .inflast3{
        position: static;
        gap: 10px;
        width: 300px;
        margin: 0 auto;
    }
    .idkaloneig{
        position: static;
        width: 300px;
    }
    .plansh{
        font-size: 31px;
    }
}
@media screen and (max-width:800px) {
    .clients{
        min-height: 800px;
    }
    .logos{
        min-height: 550px;
    }
    .abbpab{
        width: 90%;
    }
    .justoneofu{
        width: 460px;
        font-size: 16px;
    }
    .inlogos{
        width: 250.5px;
        height: 250.5px;
    }
    .test{
        padding: 50px 0;
        height: 600px;
    }
    .pricingleft{
        width: 100%;
    }
    .pricingbut{
        justify-content: center;
        gap: 20px;
    }
    .pricingtoph2{
        width: 100%;
    }
    .pricingfirsthr{
        width: 100%;
    }
    .pricingrighttop{
        border: none;
    }
    .peak{
        padding: 100px 30px;
        width: 100%;
        height: 100%;
    }
    #plantest:checked~.likeadd {
    display: none;
    }
    .secondtools{
        text-align: start;
        padding: 12px 0 0;
    }
    .toolcheck1{
        display: none;
    }
    .ppendtl4{
        display: none;
    }
    .toolsp{
        width: 90%;
    }
    .ppendtl1{
        display: flex;
        justify-content: end;
    }
    .ppendtl2{
        display: flex;
        width: 100px;
        justify-content: end;
    }
    .ppendtl3{
        display: flex;
        justify-content: end;
    }
    .toolsendin{
        width: 100%;
    }
    .toolendfnl{
        font-size: 14px;
        justify-content: start;
        flex-wrap: wrap;
        height: 100px;
    }
    .toolsendin .fa-folder{
        font-size: 25px;
        top: 0;
    }
    .pofp1{
        font-size: 16px;
    }
    .ppendtl2 h6{
        display: unset;
    }
    .attheend{
        width: 100%;
        justify-content: start;
        align-items: center;
    }
    .ppendtl2{
        align-items: center;
    }
    .attheend h6{
        margin-left: 5px;
        display: unset;
        font-size: 16px;
        font-weight: 400;
    }
    .ppendtl5{
        display: none;
    }
    .toolsendin .fa-ellipsis-vertical{
        display: unset;
        font-size: 20px;
        position: absolute;
        right: 50px;
    }
    .toolsp{
        height: 100px;
        line-height: 1.8em;
    }
}

@media screen and (max-width:500px) {
    .fallup {
        flex-direction: column;
        width: 300px;
        height: 200px;
        margin: auto;
    }
    .bbsub{
        width: 290px;
    }
    

    .falldown {
        flex-direction: column;
        width: 300px;
        height: 200px;
        margin: auto;
    }

    form{
        padding: 0;
    }

    .fallin{
        width: 300px;
    }

    .iforgotlol {
        width: 300px;
        margin: auto;
    }

    .uforgotahh {
        width: 300px;
        margin: auto;
    }

    .lol {
        width: 300px;
    }

    #fail {
        width: 300px;
    }

    .slct {
        width: 300px;
        margin: auto;
    }

    .day{
        padding: 5px 7px 6px 7px;
        font-size: 16px;
    }

    .calendar{
        gap: 0;
    }

    .weekdays{
        font-size: 16px;
        width: 35px;
        height: 35px;
    }

    .toolsendin .fa-ellipsis-vertical{
        right: 5px;
    }

    .tzone1{
        font-size: 15px;
    }
    .times button{
        width: 100%;
    }
    .headerleft p{
        width: 200px;
    }

    .insideimg1{
        font-size: 18px;
    }
    .insideimg2{
        font-size: 30px;
    }

    .inbpic{
        min-height: 800px;
    }
    .cons{
        min-height: 1800px;
        padding: 0;
        gap: 5px;
    }
    .freecons{
        height: 425px;
    }
    .services{
        gap: 10px;
        min-height: 2200px;
        margin-top: 50px;
    }
    .outlogos h1{
        width: 100%;
        text-align: center;
    }
    .clients{
        min-height: 1300px;
    }
    .logos{
        min-height: 1050px;
    }
    .justoneofu{
        width: 100%;
    }
    .arrow{
        top: 60%;
    }
    .frame{
        margin-top: 25px;
    }
    .abtline img{
        width: 100%;
        height: 425px;
    }
    .aboutallinone{
        width: 100%;
    }
    .abtcards{
        width: 100%;
    }
    .abtp{
        width: 100%;
    }
    .inprocards{
        width: 100%;
        padding: 0 10px;
    }
    .inprocards img{
        width: 100%;
    }
    .probox{
        width: 100%;
    }
    .probox p{
        width: 100%;
    }
    .projectsmain h1{
        font-size: 38px;
    }
    .plansinmain{
        grid-template-columns: 100%;
    }
    .planscards{
        width: 100%;
    }
    .plansup{
        width: 100%;
    }
    .plansdown{
        width: 100%;
    }
    .plansh{
        margin: 25px auto 0;
    }
    .plansupP1{
        text-align: center;
    }
    .pricingbothin{
        width: 100%;
    }
    .pricingright{
        width: 100%;
    }
    .pricingrighttop{
        width: 100%;
        padding: 30px 0;
    }
    .pricingrightdown{
        width: 100%;
    }
    .anotheronlyrespo{
        margin: 0 auto;
    }
    .peak h2{
        width: 100%;
    }
    .peak p{
        width: 100%;
        height: 143px;
    }
    .toolsh1{
        font-size: 45px;
        margin: 50px 0 0;
    }
}

@media screen and (max-width:375px) {
    .abtline img{
        height: 325px;
    }
    .abtmain{
        padding: 50px 0 0 0;
    }
    .abtp{
        height: 600px;
        padding: 0 15px;
    }
    .abtline{
        height: 950px;
    }
    .abtcards img{
        width: 100%;
    }
    .abtbox{
        width: 100%;
        padding: 0 15px;
    }
    .plansh{
        width: 280px;
    }
    .aboutfun{
        padding: 25px 0 50px 0;
    }
    .abtbox p{
        width: 100%;
    }
    .abtmain h1{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .flast{
        width: 99%;
    }
    .times button{
        width: 99%;
    }
    .pricinginmain{
        padding: 40px 5px;
    }
    .pricingbut{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .pricingbothin{
        height: 780px;
    }
    .pricingleft p{
        height: 72px;
    }
    .pricingmain{
        height: 975px;
        padding: 0;
    }
    .peak h2{
        font-size: 24px;
    }
    .peak p{
        font-size: 14px;
    }
    .peak{
        padding: 50px 10px 0;
    }
    .demopeak h2{
        width: 100%;
        font-size: 36px;
    }
    .demopeak p{
        width: 100%;
        font-size: 15px;
    }
    .secondtools{
        display: flex;
        justify-content: center;
    }
    .secondtools input{
        width: 90%;
        margin: 0 auto;
    }
    .secondtools .fa-magnifying-glass{
        position: absolute;
        left: 20px;
        top: 50%;
    }
    .toolsp{
        height: 140px;
    }
    .toolsh1{
        font-size: 41px;
    }
    .toolsmain{
        margin: 10px 0 14px 0;
    }
    .clicktoopenbar{
        right: 25px;
    }
    .closeclickbar{
        right: 25px;
    }
    #clickbar{
        right: 25px;
    }
}

